@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  src: url(/fonts/iAWriterQuattroV.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-style: italic;
  src: url(/fonts/iAWriterQuattroV-Italic.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/inter/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/inter/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/fonts/inter/Inter-italic.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/fira-code/fira-code-v9-latin-regular.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/fira-code/fira-code-v9-latin-500.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-500.woff) format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/fira-code/fira-code-v9-latin-700.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-700.woff) format('woff');
}

/* @font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/CormorantGaramond-Regular.woff2) format('woff2');
} */

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/Cormorant-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'ET Book';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/et-book-display-italic-old-style-figures.woff) format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}
